@using System.Web.Mvc;

<div class="user-display">
    @if (WorkContext.CurrentUser != null) {
        <span class="user-actions welcome">
            @T("欢迎, <strong>{0}</strong>!", Html.Raw("<a href=\"" + @Url.Action("ChangePassword", new { Controller = "Account", Area = "Tomelt.Users" }) + "\">" + Html.ItemDisplayText(WorkContext.CurrentUser) + "</a>"))
        </span>
        <span class="user-actions">
            @Html.ActionLink(T("退出").ToString(), "LogOff", new { Controller = "Account", Area = "Tomelt.Users", ReturnUrl = Context.Request.RawUrl }, new { rel = "nofollow" })
            @if (AuthorizedFor(Tomelt.Security.StandardPermissions.AccessAdminPanel)) {
                @Html.ActionLink(T("控制面板").ToString(), "Index", new {Area = "Dashboard", Controller = "Admin"})
            }
        </span>
    } else {
        <span class="user-actions">@Html.ActionLink(T("返回登陆页面").ToString(), "LogOn", new { Controller = "Account", Area = "Tomelt.Users", ReturnUrl = (Request.QueryString["ReturnUrl"] ?? Request.RawUrl) }, new { rel = "nofollow"})</span>
    }
</div>