
@{
    Layout.Title = T("文章栏目").ToString();
}
<div class="mt05"></div>

<div id="tb">
    @*<a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-unchecked',plain:true" onclick="datagridChecked(this, 'dataGrid');">全选</a>*@
    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-collapse',plain:true,text:'折叠'" onclick="$('#dataGrid').treegrid('collapseAll');"></a>
    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-expand',plain:true,text:'展开'" onclick="$('#dataGrid').treegrid('expandAll');"></a>
    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true,text:'刷新'" onclick="$('#dataGrid').treegrid('reload');"></a>
    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,text:'新增'" onclick="addData('@Url.Action("CreateColumn")');"></a>
    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true,text:'编辑'" onclick="updateData('@Url.Action("EditColumn")');"></a>
    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true,text:'删除'" onclick="deleteData('@Url.Action("Delete")',true);"></a>
</div>

<table id="dataGrid" class="easyui-treegrid" style="width: 99%;"
       data-options="url: '@Url.Action("GetColumnList")',
       title:'@Layout.Title',
       iconCls: 'icon-datalist',
       height: 600,
       nowrap: true,
       striped: true,
       collapsible: true,
       sortName: 'Id',
       sortOrder: 'asc',
       idField: 'Id',
       treeField: 'Title',
       queryParams: {},
       toolbar: '#tb',
       singleSelect: true,
       fitColumns: true,
       rownumbers: true,
       onLoadSuccess:onLoadSuccess,
       onDblClickRow: onDblClickRow">
    <thead>
        <tr>
            <th data-options="field:'Title',width:200">栏目标题</th>
            <th data-options="field:'Count',width:100,align:'center'">关联文章数</th>
            <th data-options="field:'Sort',width:100,align:'center'">排序</th>
            <th data-options="field:'Id',width:100,align:'center'">栏目ID</th>
            <th data-options="field:'HasPublished',width:100,align:'center'">发布操作</th>
        </tr>
    </thead>
</table>
@using (Script.Foot())
{

    <script>
        $(function () {
            formatCol();

        });

        function onDblClickRow(index, row) {
            updateData('@Url.Action("EditColumn")');
        }
        function onLoadSuccess() {
            $(".easyui-linkbutton").linkbutton({
                height: 20
            });
        }
        function formatCol() {
            var dg = $('#dataGrid');
            var isHasPublishedCol = dg.datagrid('getColumnOption', 'HasPublished');
            isHasPublishedCol.formatter = function (value, row, index) {
                if (!value) {
                    return "<a href='javascript:publish("+row.Id+","+value+");' class='easyui-linkbutton c1' data-options=\"iconCls:'icon-ok'\">发布</a>";
                } else {
                    return "<a href='javascript:publish(" + row.Id + "," + value +");' class='easyui-linkbutton c5' data-options=\"iconCls:'icon-undo'\">取消</a>";
                }
            }

        }

        function publish(id, ispublish) {
            var url = "@Url.Action("Publish")";
            if (ispublish) {
                url = "@Url.Action("Unpublish")";
            }
            $.post(url,
                { id: id },
                function(data) {
                    if (data.State==0) {
                        $.messager.alert("错误", data.Msg, "error");
                    } else {
                        $('#dataGrid').treegrid('reload');
                    }
                });
        }
    </script>

}

