@model ArticleManage.ViewModels.EditArticlePartViewModel
@{

    Layout.Title = T("文章内容").ToString();
    IDictionary<string, string> fields = ViewBag.Fields;
}

<div class="col-xs-3" style="margin-top: 23px;">
    <div class="dialog-toolbar">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-collapse',plain:true" onclick="$('#tree').tree('collapseAll');">折叠</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-expand',plain:true" onclick="$('#tree').tree('expandAll');">展开</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="$('#tree').tree('reload');">刷新</a>

    </div>
    <div class="panel-body" style="padding: 10px;height: 539px;">
        <ul id="tree" class="easyui-tree" data-options="url:'@Url.Action("GetColumnTreeList")',lines:true,onSelect:onSelect"></ul>
    </div>
</div>

<div class="col-xs-9">
    <form id="searchFrm">
        <fieldset class="text-center">
            <legend class="f15"><span class="glyphicon glyphicon-search"></span> 搜索条件</legend>
            <div class="row">
                <div class="col-xs-4">
                    @Html.EasyUIFor(d => d.Title, "easyui-textbox", new
               {
                   width = "80%",
                   prompt = "-请输入关键字-",
                   label = Html.DisplayNameFor(d=>d.Title)
               })

                </div>
                <div class="col-xs-4">
                    @Html.EasyUIFor(d => d.Author, "easyui-textbox", new
               {
                   width = "80%",
                   prompt = "-请输入关键字-",
                   label = Html.DisplayNameFor(d => d.Author)
               })

                </div>
                <div class="col-xs-4">
                    @Html.EasyUIFor(d => d.contentStatus, "easyui-combobox", new
               {
                   width = "80%",
                   prompt = "-请选择-",
                   label = "内容状态",
                   panelHeight="auto",
                   editable = false,
                   data =Json.Encode(new List<object>()
                   {
                       new {value="Latest",text="最近的"},
                       new {value="Published",text="已发布"},
                       new {value="Draft",text="未发布"},
                       new {value="AllVersions",text="全部的"},
                       new {value="Owner",text="自己的"}
                       
                   })

               })

                </div>
                @Html.HiddenFor(d=>d.ColumnPartRecordId)

            </div>

            <div class="row mt05">
                <div class="col-xs-12">
                    <a href="javascript:searchData();" class="easyui-linkbutton c8 " data-options="iconCls:'icon-search icon-large',width:80">查找</a>
                    <a href="javascript:resetData();" class="easyui-linkbutton c2 umar-l" data-options="iconCls:'icon-reload',width:80">重置</a>
                </div>
            </div>
        </fieldset>
    </form>


    <div id="tb">
        @*<a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-unchecked',plain:true" onclick="datagridChecked(this, 'dataGrid');">全选</a>*@
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true,text:'刷新'" onclick="$('#dataGrid').datagrid('reload');"></a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,text:'新增'" onclick="addData('@Url.Action("CreateArticle")');"></a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-copy',plain:true,text:'复制'" onclick="copyData('@Url.Action("Clone")');"></a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true,text:'编辑'" onclick="updateData('@Url.Action("EditArticle")');"></a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true,text:'删除'" onclick="deleteData('@Url.Action("Delete")');"></a>
    </div>

    <table id="dataGrid" class="easyui-datagrid" style="width: 99%;"
           data-options="url: '@Url.Action("GetList")',
       title:'@Layout.Title',
       iconCls: 'icon-datalist',
       height: 'auto',
       nowrap: true,
       striped: true,
       collapsible: true,
       sortName: 'Id',
       sortOrder: 'desc',
       idField: 'Id',
       queryParams: {},
       toolbar: '#tb',
       singleSelect: true,
       fitColumns: true,
       pagination: true,
       rownumbers: true,
       onLoadSuccess:onLoadSuccess,
       onDblClickRow: onDblClickRow">
        <thead>
        <tr>
            <th data-options="field:'Id',width:60,align:'center'">主键ID</th>
            <th data-options="field:'Title',width:300,align:'center'">文章标题</th>
            @*@foreach (var field in fields)
            {
                <th data-options="field:'@field.Key',width:150,align:'center'">@field.Value</th>
            }*@
            <th data-options="field:'Author',width:80,align:'center'">作者</th>
            <th data-options="field:'UserName',width:60,align:'center'">发布人</th>
            <th data-options="field:'HasPublished',width:80,align:'center'">发布操作</th>
        </tr>
        </thead>
    </table>
</div>

@using (Script.Foot())
{

    <script>
        $(function () {
            formatCol();
        });

        //选中事件
        function onSelect(node) {
            $("#ColumnPartRecordId").val(node.id);
            searchData();
        }
        function onLoadSuccess() {
            $(".easyui-linkbutton").linkbutton({
                height: 20
            });
        }
        function formatCol() {
            var dg = $('#dataGrid');
            var isHasPublishedCol = dg.datagrid('getColumnOption', 'HasPublished');
            isHasPublishedCol.formatter = function (value, row, index) {
                if (!value) {
                    return "<a href='javascript:publish("+row.Id+","+value+");' class='easyui-linkbutton c1' data-options=\"iconCls:'icon-ok'\">发布</a>";
                } else {
                    return "<a href='javascript:publish(" + row.Id + "," + value +");' class='easyui-linkbutton c5' data-options=\"iconCls:'icon-undo'\">取消</a>";
                }
            }

        }

        function publish(id, ispublish) {
            var url = "@Url.Action("Publish")";
            if (ispublish) {
                url = "@Url.Action("Unpublish")";
            }
            $.post(url,
                { id: id },
                function(data) {
                    if (data.State==0) {
                        $.messager.alert("错误", data.Msg, "error");
                    } else {
                        $('#dataGrid').datagrid('reload');
                    }
                });
        }

        function onDblClickRow(index, row) {
            updateData('@Url.Action("EditArticle")');
        }

        
    </script>

}
