@model Tomelt.ContentTypes.ViewModels.ListContentTypesViewModel
@{
    Layout.Title = T("内容类型").ToString();
}

<form id="searchFrm">
    <fieldset class="text-center">
        <legend class="f15"><span class="glyphicon glyphicon-search"></span> 搜索条件</legend>
        <div class="row">
            <div class="col-xs-4">
                @Html.EasyUI("displayname", "", "easyui-textbox", new
                {
                    width = 200,
                    prompt = "-请输入关键字-",
                    label = "类型名称：",
                })

            </div>
            <div class="col-xs-4">
                @Html.EasyUI("name", "", "easyui-textbox", new
           {
               width = 200,
               prompt = "-请输入关键字-",
               label = "类型ID：",
           })

            </div>



        </div>

        <div class="row mt05">
            <div class="col-xs-12">
                <a href="javascript:searchData();" class="easyui-linkbutton c8 " data-options="iconCls:'icon-search icon-large',width:80">查找</a>
                <a href="javascript:resetData();" class="easyui-linkbutton c2 umar-l" data-options="iconCls:'icon-reload',width:80">重置</a>
            </div>
        </div>
    </fieldset>
</form>

<div id="tb">
    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true,text:'刷新'" onclick="$('#dataGrid').datagrid('reload');"></a>
    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,text:'新增'" onclick="addData('@Url.Action("Create")');"></a>
    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true,text:'编辑'" onclick="updateData('@Url.Action("Edit")');"></a>
    <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true,text:'删除'" onclick="deleteData('@Url.Action("DeleteAJAX")');"></a>
</div>

<table id="dataGrid" class="easyui-datagrid" style="width: 100%;"
       data-options="url: '@Url.Action("GetList")',
       title:'@Layout.Title',
       iconCls: 'icon-datalist',
       height: 'auto',
       nowrap: true,
       striped: true,
       collapsible: true,
       sortName: 'Category',
       sortOrder: 'asc',
       idField: 'Id',
       queryParams: {},
       toolbar: '#tb',
       singleSelect: true,
       fitColumns: true,
       pagination: false,
       rownumbers: true,
       onLoadSuccess:onLoadSuccess,
       onDblClickRow: onDblClickRow
       ">
    <thead>
    <tr>
        <th data-options="field:'Type',width:100,align:'center'">类型类别</th>
        <th data-options="field:'DisplayName',width:100,align:'center'">类型名称</th>
        <th data-options="field:'Name',width:100,align:'center'">类型ID</th>
        <th data-options="field:'Id',width:300">类型操作</th>

    </tr>
    </thead>
</table>
@using (Script.Foot())
{

    <script>
        $(function () {
            formatCol();

        });

        function onLoadSuccess() {
            $(".easyui-linkbutton").linkbutton({
                height: 20
            });
        }
        function formatCol() {
            var dg = $('#dataGrid');
            
            var isCreatableCol = dg.datagrid('getColumnOption', 'Id');
            isCreatableCol.formatter = function (value, row, index) {
                if (row.Creatable) {
                    return "<a href='javascript:alert(2);' class='easyui-linkbutton c8' data-options=\"iconCls:'icon-datalist'\">项目列表</a><a href='javascript:alert(1);' class='easyui-linkbutton c8 m-left' data-options=\"iconCls:'icon-add'\">新建" + row.DisplayName+"</a>";
                }
            }
            
        }
        function onDblClickRow(index, row) {
            updateData('@Url.Action("Edit")');
        }
        
    </script>

}